[submodule "teapot-testcases"]
	path = teapot-testcases
	url = https://github.com/lin-toto/teapot-testcases
[submodule "specfuzz"]
	path = specfuzz
	url = https://github.com/lin-toto/SpecFuzz-test
[submodule "teapot"]
	path = teapot
	url = https://github.com/lin-toto/teapot
